extends layout
block content
  h1= title
  -
  -var result = results 
  div.container-fluid
     div.row
        each item,index in result
            div.col-sm-2(onclick=`buy(${index})`) Jewels_Name: #{item["Jewels_name"]}  <br>  Jewels_size: #{item["Jewels_size"]} <br> Jewels_type: #{item["Jewels_type"]} 
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }